<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}Terminverwaltung Calcifer{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="shortcut icon" href="/favicon.png" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    {% stylesheets filter="compass"
        "@CalciferBundle/Resources/assets/css/main.scss"
        "css/semantic.scss"
        "css/custom.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    {% block css %}

    {% endblock %}

</head>

<body>
{% include "CalciferBundle::navigation.html.twig" %}

<div class="ui one column page grid">
    <div class="column">
        <div id="mission-statement" class="ui message green">
            {% image '@CalciferBundle/Resources/assets/images/logo.png' %}
            <img
                    title="Eine Zeichnung von Calcifer. Gezeichnet von simply-Sylvan (http://simply-sylvan.deviantart.com/art/Calcifer-Purple-176746086)"
                    alt="Eine Zeichnung von Calcifer. Gezeichnet von simply-Sylvan (http://simply-sylvan.deviantart.com/art/Calcifer-Purple-176746086)"
                    src="{{ asset_url }}"
                    class="ui image small floated left" />
            {% endimage %}
            <p>Calcifer ist ein Daemon aus dem Anime <a href="http://anidb.net/perl-bin/animedb.pl?show=anime&amp;aid=1218">„Das wandelnde Schloss“</a>, der sich darum kümmert das sich Howls Schloss weiter bewegt. Diese Terminverwaltung soll dafür sorgen das sich der <a href="https://www.krautspace.de/">Hackspace Jena</a> auch weiter bewegt und viele tolle Termine statfinden.</p>
        </div>
    </div>
</div>

<div id="main" class="segment">
    {% block body %}{% endblock %}
</div>
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/semantic.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>