<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}Terminverwaltung Calcifer{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/semantic.css') }}" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" media="screen">
    {% block css %}

    {% endblock %}

</head>

<body>
{% include "CalciferBundle::navigation.html.twig" %}

<div id="main" class="segment">
    {% block body %}{% endblock %}
</div>
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/semantic.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>