<header class="ui fixed main menu inverted transparent ">
    <div class="ui one column page grid">
        <div class="ui column">
            <div class="title item"><a href="{{ path('') }}">Calcifer</a></div>
            <div class="item"><a href="{{ path('_new') }}">Neuer Termin</a> </div>
            <div class="item"><a href="{{ path('repeating_event_show') }}">Wiederholende Termine</a></div>
        </div>
    </div>
</header>