{% extends 'CalciferBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
    "@CalciferBundle/Resources/assets/css/events.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@CalciferBundle/Resources/assets/js/events.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    <div class="ui basic segment">
        <div class="ui segment">
            <form class="ui form" method="post">
                <p>Möchtest du den wiederholenden Termin <strong>„{{ entity.summary }}“</strong> wirklich löschen?</p>
                <button name="confirmation" value="true" class="ui button red">Ja</button>
                <a href="{{ path('_show', {'slug' : entity.slug }) }}" class="ui button green">Nein</a>
            </form>
        </div>
    </div>
{% endblock %}