{% extends 'CalciferBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
    "@CalciferBundle/Resources/assets/css/jquery.datetimepicker.scss"
    "@CalciferBundle/Resources/assets/css/events.scss"
    "@CalciferBundle/Resources/assets/css/leaflet.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@CalciferBundle/Resources/assets/js/jquery.datetimepicker.js"
    "@CalciferBundle/Resources/assets/js/repeating_events.js"
    "@CalciferBundle/Resources/assets/js/events.js"
    "@CalciferBundle/Resources/assets/js/leaflet.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    <div class="ui basic segment">
        <h1 class="ui green block dividing header">Wiederholenden Termin erstellen</h1>
    </div>

    <div class="ui basic segment">
        <div class="ui segment">
            {{ include('CalciferBundle:RepeatingEvent:repeating_event_form.html.twig') }}
        </div>
    </div>

{% endblock %}
