{% extends 'CalciferBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block body -%}
    <h1>Event creation</h1>

    <form name="hackspace_bundle_calciferbundle_event" method="post" action="/" role="form">
    <div id="hackspace_bundle_calciferbundle_event">
    <div class="form-group">
        <label class="control-label required">Startdate</label>

        <div id="hackspace_bundle_calciferbundle_event_startdate" class="bootstrap-datetime">
            <div id="hackspace_bundle_calciferbundle_event_startdate_date" class="bootstrap-date">
                <select id="hackspace_bundle_calciferbundle_event_startdate_date_day"
                        name="startdate[day]"
                        required="required"
                        class="form-control">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <select id="hackspace_bundle_calciferbundle_event_startdate_date_month"
                        name="startdate[month]"
                        required="required"
                        class="form-control">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select id="hackspace_bundle_calciferbundle_event_startdate_date_year"
                        name="startdate[year]"
                        required="required"
                        class="form-control">
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
            <div id="hackspace_bundle_calciferbundle_event_startdate_time" class="bootstrap-time">
                <select id="hackspace_bundle_calciferbundle_event_startdate_time_hour"
                        name="startdate[hour]"
                        required="required"
                        class="form-control">
                    <option value="0">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
                :<select id="hackspace_bundle_calciferbundle_event_startdate_time_minute"
                         name="startdate[minute]"
                         required="required"
                         class="form-control">
                    <option value="0">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select></div>
        </div>
    </div>
    <div class="form-group"><label class="control-label">Enddate</label>

        <div id="hackspace_bundle_calciferbundle_event_enddate" class="bootstrap-datetime">
            <div id="hackspace_bundle_calciferbundle_event_enddate_date" class="bootstrap-date">
                <select id="hackspace_bundle_calciferbundle_event_enddate_date_day"
                        name="enddate[day]"
                        class="form-control">
                    <option value=""></option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <select id="hackspace_bundle_calciferbundle_event_enddate_date_month"
                        name="enddate[month]"
                        class="form-control">
                    <option value=""></option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select id="hackspace_bundle_calciferbundle_event_enddate_date_year"
                        name="enddate[year]"
                        class="form-control">
                    <option value=""></option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
            <div id="hackspace_bundle_calciferbundle_event_enddate_time" class="bootstrap-time">
                <select id="hackspace_bundle_calciferbundle_event_enddate_time_hour"
                        name="enddate[hour]"
                        class="form-control">
                    <option value=""></option>
                    <option value="0">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
                :<select id="hackspace_bundle_calciferbundle_event_enddate_time_minute"
                         name="enddate[minute]"
                         class="form-control">
                    <option value=""></option>
                    <option value="0">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label required" for="hackspace_bundle_calciferbundle_event_summary">Summary</label>
        <input type="text"
               id="hackspace_bundle_calciferbundle_event_summary"
               name="hackspace_bundle_calciferbundle_event[summary]"
               required="required"
               maxlength="255"
               class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label" for="hackspace_bundle_calciferbundle_event_description">Description</label>
        <input type="text"
               id="hackspace_bundle_calciferbundle_event_description"
               name="hackspace_bundle_calciferbundle_event[description]"
               maxlength="255"
               class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label" for="hackspace_bundle_calciferbundle_event_url">Url</label>
        <input id="hackspace_bundle_calciferbundle_event_url"
               name="hackspace_bundle_calciferbundle_event[url]"
               maxlength="255"
               type="url"
               class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label" for="hackspace_bundle_calciferbundle_event_location">Location</label>
        <input id="hackspace_bundle_calciferbundle_event_location"
               name="hackspace_bundle_calciferbundle_event[location]"
               type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label required" for="hackspace_bundle_calciferbundle_event_tags">Tags</label>
        <input
                id="hackspace_bundle_calciferbundle_event_tags"
                name="hackspace_bundle_calciferbundle_event[tags][]" class="form-control"
                type="text">
    </div>
    <button type="submit" id="hackspace_bundle_calciferbundle_event_submit"
            name="hackspace_bundle_calciferbundle_event[submit]" class="btn btn-primary">Create
    </button>
    <input type="hidden" id="hackspace_bundle_calciferbundle_event__token"
           name="hackspace_bundle_calciferbundle_event[_token]" class="form-control"
           value="fArTmEGgXbPkuP4rwDtYX2qH6Mm5jmsAsToEzn5NQpY">
    </div>
    </form>


    <ul class="record_actions">
        <li>
            <a href="{{ path('') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
