/* line 2, assetic_compasslCISQS.scss */
.event.box h2 {
  padding: 0.5rem;
}
/* line 4, assetic_compasslCISQS.scss */
.event.box h2 a, .event.box h2 a:hover, .event.box h2 a:visited {
  color: #ffffff;
}
/* line 9, assetic_compasslCISQS.scss */
.event.box .startdate, .event.box .location, .event.box .url, .event.box .edit {
  /*float: left;*/
  display: inline;
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
/* line 17, assetic_compasslCISQS.scss */
.event.box ul.tags {
  padding-left: 0;
  /*float: left;*/
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline;
}
/* line 24, assetic_compasslCISQS.scss */
.event.box ul.tags li {
  list-style-type: none;
  /*float: left;*/
  display: inline;
  margin-right: 0.5rem;
}

/* line 35, assetic_compasslCISQS.scss */
form .ui.form .field .attached-label > input, form .ui.form .field .attached-label > textarea {
  margin-bottom: 2rem;
}
