.card {
  h2 {
    margin-bottom: 0.3em !important;
    a {
      color: inherit;
    }
  }
  .meta {
    .label,.button {
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
  }
}

.event.box {
  h2 {
    padding: 0.5rem;
    a,a:hover,a:visited {
      color: #ffffff;
    }
  }

  .startdate,.location,.url,.action {
    display: inline;
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  a i.icon {
    text-decoration: none;
  }

  ul.tags {
    padding-left: 0;
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline;
    li {
      list-style-type: none;
      display: inline;
      margin-right: 0.5rem;
    }
  }
}

form .ui.form {
  .field {
    .attached-label > input, .attached-label > textarea {
      margin-bottom: 2rem;
    }
    .attached-geo-label > input, .attached-geo-label > textarea {
      margin-bottom: 3.2rem;
    }
  }
}

#view-map, #map {
  height: 20rem;
}

.location-edit {
  text-decoration: none;
}

#location-description {
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .ui.section.divider {
    margin-top: 0;
    margin-bottom: 0;
  }
}