.card {
  h2 {
    margin-bottom: 0.3em !important;
    a {
      color: inherit;
    }
  }
  .meta {
    .label,.button {
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
  }
}

#event-form {
  textarea {
    height: auto;
    max-height: none;
  }

  #event_location.ui.dropdown.active {
    .text .ui.fluid.card {
      opacity: 0.5;
    }
  }

  #event_location.ui.dropdown {
    input.search {
      height: 100%;
      line-height: 100%;
      width: 100%;
    }

    .default.text {
      color: black;
    }

    .text {
      width: 100%;

      .ui.fluid.card {
        .description {
          display: none;
        }
      }
    }
  }
}

#view-map, #map {
  height: 20rem;
}

#location-description {
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .ui.section.divider {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.oos {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
