.card {
  h2 {
    margin-bottom: 0.3em !important;
    a {
      color: inherit;
    }
  }
  .meta {
    .label,.button {
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
  }
}

#event-form {
  textarea {
    height: auto;
    max-height: none;
  }
}

#view-map, #map {
  height: 20rem;
}

#location-description {
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .ui.section.divider {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.oos {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
